body {
    background-image: url('../../images/background.jpg');
    background-size: cover;
}

.back-image-1 {
    background: url('../../images/back-pro.jpg');
    background-size: cover;
}

.back-image-2 {
    background: url('../../images/back-fun.jpg');
    background-size: cover;
}

.rotated {
    transform: rotate(2deg);
    /*background-color: pink;
    */-webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}

.textCenter {
    text-align: center;
}

.rotated-card-cw {
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}

.rotated-card-ccw {
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

